/* ------------------------
   Typography (and primary body style)
------------------------ */

// html {
//   font: 14px/20px $defaultfont;
//   @include media($tablet) {
//     font: 18px/25px $defaultfont;
//   }
// }

body {
  color: $defaultcolor;
  font: 14px/20px $defaultfont;
  @include media($tablet) {
    font: 18px/22px $defaultfont;
  }
  background-color: $lightColor;
  min-width: 320px;
  text-align: center;
  @include customfont();
}

p {
  margin: 0 0 1em;
}

ul,
ol,
dl {
}

li {
}

.the-headline,
.the-subheadline {
  display: block;
}

h1 {
  font-family: $primaryFont;
  // font-weight: $regular;
  // font-weight: 600;
}

h2,
h3,
h4,
h5,
h6,
.the-headline {
  font-family: $primaryFont;
  b, strong {
    font-weight: 100 !important;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: $regular;
  margin-bottom: 1.5rem;
  line-height: 100%;
}

h1 {
  font-size: 33px;
  line-height: 36px;
  @include media($tablet) {
    font-size: 30px;
    line-height: 55px;
  }
}

h2,
.the-headline {
  font-size: 20px;
    // line-height: 28px;
  @include media($tablet) {
    font-size: 25px;
    line-height: 28px;
  }
}

h3 {
  font-size: 18px;
  @include media($tablet) {
    // font-size: 35px;
    font-size: 22px;
    line-height: 25px;
  }
}

h4 {
  font-size: 20px;
  @include media($desktop) {
    font-size: 30px;
  }
}

h5,
h6 {
  font-size: 18px;
  @include media($desktop) {
    font-size: 20px;
  }
}

a {
  color: $primaryAlt;
}

blockquote {
  font-family: $highlightFont;
  font-style: italic;
  @include media($desktop) {
    @include font(25px, 110%);
  }
  footer {
    font-style: normal;
  }
}

hr {
  border-top: 1px solid #ccc !important;
  margin: 2em !important;
}

section {
  // margin: 20px;
  @include media($desktop) {
    // margin: 50px 65px;
  }
}

section,
main,
.contain {
  padding: 0 10px;
  @include media($tablet) {
    padding: 0 40px;
  }
  @include media($desktop) {
    padding: 0  calc(40px + (50% - (#{$desktop} / 2)));
  }
  @include media($full) {
    // padding: 0 calc(40px + (50% - (#{$full} / 2)));
  }
}

.is--device {
  section,
  main,
  .contain {
    @include media($desktop) {
      padding: 0 20px;
    }
  }
}

/* ***************************************** */
/* --------------- Layouts ----------------- */
/* ***************************************** */

/* -----------------------
	Basic layout
----------------------- */

.container,
.container-full {
  position: relative;
}

.container {
  max-width: $desktop;
  margin: 0 auto;
  text-align: left;
}

/* ------------------------
	Header
------------------------ */

@import 'header';

/* ------------------------
	Nav
------------------------ */

@import 'menu_touch';
@import 'menu_hover';

/* ------------------------
	Content
------------------------ */

@import 'content';

/* ------------------------
	Aside
------------------------ */

@import 'sidebar';

/* ------------------------
	Footer Layout
------------------------ */

@import 'footer';

/* ------------------------
	Forms & Form Elements
------------------------ */

@import 'contact';

/* ***************************************** */
/* ---------- Specific Templates ----------- */
/* ***************************************** */

/* ------------------------
	Home Page
------------------------ */

@import 'front';

/* ------------------------
	Blog/Category/Archives
------------------------ */

@import 'blog';

/* ------------------------
	Map
------------------------ */

// @import 'map';

/* ------------------------
	Flexible Content
------------------------ */

@import 'flexible';

/* ------------------------
	Gallery
------------------------ */

// @import 'gallery';
