.featured-image {
  display: block;
  img {
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    max-height: 600px;
    height: auto;
    // border: 1px solid #eee;
     box-shadow: 0px 3px 3px rgba(#000, .1) ;
    @include media($tablet) {
      // width: 400px;
      width: auto;
      height: 100%;
    }
  }
}

.home,
.blog,
.tmpl_type_category,
.tmpl_type_archive {
  .set-of-posts, .post-snippet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .excerpt, .excerpt-rotator {
      background: #eee;
      margin-bottom: 20px;
      padding: 20px;
      transition: all 0.2s ease-in-out;
      box-shadow: 0px 3px 3px rgba(#000, .1) ;
      padding-bottom: 40px;
      @include media($tablet) {
        // border-radius: 10px;
        margin-bottom: 80px;
        padding: 20px;
        width: 30%;
        &:hover {
          box-shadow: 0px 3px 7px rgba(#000, .3) ;
        }
        h3 {color:#000;}
      }
      .para {
        margin-top: 0px;
        padding-bottom: 20px;
        @include media($tablet) {
        }
      }
      .para a {
        font-family: $secondaryFont;
        text-decoration: none !important;
        color: #000;
        font-size: 16px;
        line-height: 20px;
        color: $darkColor;
        span {
          text-decoration: underline;
          color: $secondaryColor;
        }
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .thumb {
      overflow: hidden;
      width: calc(100% + 40px);
      left: -20px;
      top: -20px; 
      position: relative;
      max-height: 90vw;
      overflow: hidden;
      @include media($tablet) {
        // border-radius: 15px;
        max-height: 20vw;
        min-height: 200px;
      }
      img {
        width: 100%;
        height: auto;
        // min-height: 200px;
      }
      margin-bottom: 20px;
      @include media($tablet) {
      }
    }
    .meta-date {
      font-weight: 300;
      position: absolute;
      font-size: 25px;
      text-align: center;
      color: $primaryAlt;
      text-transform: uppercase;
    }
  }

  .date {
    color: $primaryColor;
    text-align: right;
  }

  .meta-data {
    margin-bottom: 10px;
    color: $lightGrey;
    font-size: 11px;
    line-height: 18px;
    font-family: $primaryFont;
    a {
      color: $lightGrey;
      text-decoration: none;
      font-weight: normal;
    }
    i {
      margin-left: 10px;
      margin-right: 2px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .button {
    text-decoration: none;
    clear: both;
  }
}

.from-blog {
  .next-prev {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      transition: all 0.2s ease-in-out;
      margin-bottom: 20px;
      i {
        transition: all 0.2s ease-in-out;
        position: relative;
        top: 2px;
        font: normal normal normal 27px/17px "Font Awesome 5 Pro";
      }
      &:hover {
        i {
        }
      }
    }
  }
  .prev-blog-button {
    &:hover {
      color: $secondaryAlt;
      &:before {
        color: $secondaryAlt;
      }
    }
  }

  .next-blog-button {
    &:hover {
      color: $secondaryAlt;
      &:after {
        color: $secondaryAlt;
      }
    }
  }
  .meta-data {
    margin-bottom: 20px;
    color: $lightGrey;
    font-size: 11px;
    line-height: 18px;
    font-family: $primaryFont;
    a {
      color: $lightGrey;
      text-decoration: none;
      font-weight: normal;
    }
    i {
      margin-left: 10px;
      margin-right: 2px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.tmpl_type_single {
  h1 {
    margin-bottom: 10px;
  }
}