// Touch Menu

.menu-wrap {
  display: none;
}

// Closing Opening Menu with Fade

.touch-menu.menu-is-closed .main-menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 400ms, transform 5s;
  transform: translate3d(100%, 0, 0);
}


.touch-menu.menu-is-open .main-menu {
  visibility: visible;
  overflow: scroll;
  top: 0;
  bottom:0;

  // height: 100%;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
  transform: translate3d(100%, 0, 0);
}


.touch-menu {
  display: block;

  &.menu-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: -100%;
    // overflow: scroll;
    z-index: 500;
  }

  .main-menu {
    padding-top: 60px;
    padding-bottom: 20px;
    background: rgba(#000, .9) ;
    height: 100%;
    width: 100%;
    top: 0; 
    bottom: 0;
    position: fixed;
    // overflow-y: scroll;
    transform: translate3d(-100%, 0, 0);
    // visibility: hidden;
    // opacity: 0;
    // transition: visibility 0s linear 300ms, opacity 300ms;

    // Set baseline "li" styling

    li {
      margin: 0;
      padding: 0;
      position: relative;
      list-style-type: none;
      text-align: left;
      // padding-left: 60px;
      &:before {
        display: none;
      }
    }

    // Set baseline "a" styling

    a {
      text-transform: uppercase;
      //  letter-spacing: 1px;
      font-family: $secondaryFont;

      text-decoration: none;
      display: block;
      color: rgba($lightColor, 1); // Set color for menu items
      line-height: 1em;
      font-size: 22px; // Set font size for menu items
      font-weight: 400;
    }
    // End "a" reset

    // Touch Menu Items

    .menu-item {
      > a {
        padding: 16px 20px;
        // border-bottom: 1px solid rgba($lightColor, .15);
      }
    }

    .first.menu-item {
      // border-top: 1px solid rgba($lightColor, .15);
    }

    // General Sub-Menu Styling

    .sub-menu {
      display: none;
      a {
        // font-size: .9em;
        // line-height: 22px;
      }
    }

    // Specific Sub-Menu Level Styling

    ul[data-ul-depth="0"] {
      > li > a {
        padding-left: 30px;
      }
    }
    ul[data-ul-depth="1"] {
      > li > a {
        padding-left: 40px;
      }
    }
    ul[data-ul-depth="2"] {
      > li > a {
        padding-left: 50px;
      }
    }
    ul[data-ul-depth="3"] {
      > li > a {
        padding-left: 60px;
      }
    }
    ul[data-ul-depth="4"] {
      > li > a {
        padding-left: 70px;
      }
    }
  }

  .nav-dropdown-button {
    position: absolute;
    z-index: 25;
    width: 50px;
    height: 50px;
    // background: rgba($lightColor, 0.05);
    right: 0;
    top: 0px;
    cursor: pointer;
    // border-left: 1px solid rgba($lightColor, .15);

    &:after {
      content: "\f067";
      font-family: "Font Awesome 5 Pro";
      color: rgba($lightColor, 0.4);
      font-weight: 100;
      transition: 0.2s linear transform;
      position: absolute;
      top: 25px;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .close-menu {
    display: block;
    position: fixed;
    top: 18px;
    right: 22px;
    color: rgba($lightColor, 1); // Set color for menu items
    // text-align: center;
    font-size: 30px; // match to other font-size
    cursor: pointer;
    i {
      font-weight: 100;
    }
  }

  .sub-menu-open {
    > .nav-dropdown-button {
      &:after {
        content: "\f068";
        font-weight: 100;
      }
    }
  }
}
