/* ------------------------
   Mixins
------------------------ */

@mixin smoothie() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin disablelink {
  pointer-events: none;
  cursor: default;
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Remove??
%imgdefaults {
  visibility: visible; //placeholder for SASS error reasons
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Remove??
@mixin customfont() {
}

// Media Query Mixin

@mixin media($args...) {
  @if (length($args) > 1) {
    @if nth($args, 2) == 'max' {
      @media only screen and (max-width: nth($args, 1)) {
        @content;
      }
    } @else {
      @media only screen and (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
        @content;
      }
    }
  } @else {
    @if nth($args, 1) == 'ipads' {
      @media only screen and (min-device-width: $ipad-min) and (max-device-width: $ipad-max) and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-width: $ipadpro-min) and (max-device-width: $ipadpro-max) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
      }
    } @else {
      @media only screen and (min-width: nth($args, 1)) {
        @content;
      }
    }
  }
}

// (50% - (#{$desktop} / 2)

@mixin contain() {
  padding: 0 20px;
  @include media($desktop) {
    padding: 0 calc(40px + (50% - (#{$desktop} / 2)));
  }
}

// Font Mixin

// rem font conversion mixin

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// continue working on this. maybe change the order?

// @mixin font($style: normal, $variant: normal, $weight: $normal, $size: 16px, $height: 150%, $family: $primaryFont) {
//   font: $style $variant $weight #{calculateRem($size)}/#{$height} $family;
// }

// update? with this:

// font: font-style font-variant font-weight font-size/line-height font-family;
// in use:
// font: italic small-caps normal 13px/150% Arial, Helvetica, sans-serif;

// You need to supply at least font-size and font-family for the shorthand to work, otherwise it'll just be a syntax error and do nothing.

// current one

@mixin font($size: 16px, $height: null, $weight: null) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: $height;
  font-weight: $weight;
}

// usage:
// @include font(16px);
// -- or --
// @include font(20px, 125%, $bold);

// Adding an icon to the left of a div (e.g. location icon to the left of an address)

@mixin icon(
  $url,
  $width,
  $height,
  $paddingLeft: ($width + 20px),
  $top: 0,
  $left: 0
) {
  position: relative;
  padding-left: $paddingLeft;
  &:before {
    content: '';
    background: url($url);
    background-size: $width $height;
    width: $width;
    height: $height;
    position: absolute;
    top: $top;
    left: $left;
  }
}

@mixin iconafter(
  $url,
  $width,
  $height,
  $paddingRight: ($width + 20px),
  $bottom: 0,
  $right: 0
) {
  position: relative;
  padding-right: $paddingRight;
  &:after {
    content: '';
    background: url($url);
    background-size: $width $height;
    width: $width;
    height: $height;
    position: absolute;
    bottom: $bottom;
    right: $right;
  }
}
