aside {
  position: relative;
  width: 300px;
  margin: 0 auto;
  right: 0;

  > div {
    text-align: center;
    width: 300px;
  }
  ins {
    background: transparent;
  }
  @include media($desktop) {
    width: 300px;
  }
  .sidebar-add {
    display: none;
  @include media($desktop) {
      display: block;
      position: fixed;
      right: 40px;
      top: 120px;
      &.stick-me {
        margin-top: 0px;
      }
    }
  }
  .mobile-add {
    z-index: 9999px;
    width: 100%;
    height: 80px;
    max-height: 80px;
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;
    @include media($desktop) {
      display: none;
    }
  }
}
.adsbygoogle {
  z-index: 9999;
}